/* FONTS FACES */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue-medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue-condensed-bold.ttf");
  font-weight: 700;
}
